---
import Layout from '../layouts/BlogPost.astro'
// import styles from '../styles/global.css'
---

<Layout
  title="About Me"
  description="Here is some information about me"
  pubDate={new Date('April 07 2023')}
  updatedDate={new Date('April 07 2023')}
  heroImage="/placeholder-about.jpg"
>
  <div class"about-me">
    <p class="flex items-baseline">
      <span class="text-orange-500 text-5xl leading-none mr-2">H</span>
      <span
        >ello and welcome to my about me page! My name is Lenier Ortiz, and I'm
        thrilled to have the opportunity to share a bit about myself with you.</span
      >
    </p>

    <p class="text-lg my-4">
      I have a wide range of interests and hobbies. I love photography and enjoy
      capturing the beauty of nature and the world around me through my lens. I
      find coding to be incredibly fulfilling, and I enjoy the challenge of
      finding solutions to complex problems. I also love to explore different
      approaches to problem-solving and am always looking for new and creative
      ways to tackle challenges.
    </p>

    <p class="text-lg my-4">
      One of the things that I'm most passionate about is sharing learning
      content with others. I believe that knowledge is one of the most valuable
      things we can possess, and I love to share what I've learned with others
      to help them grow and develop their own skills. Whether it's through
      teaching others how to code, sharing my favorite photography techniques,
      or recommending books and articles on topics that interest me, I always
      find joy in helping others learn and grow.
    </p>

    <p class="text-lg my-4">
      When I'm not studying, working, or pursuing my hobbies, I enjoy spending
      time outdoors, particularly at the beach. I find the sound of the waves
      and the feel of the sand between my toes to be incredibly soothing, and I
      always feel refreshed after spending time by the water. I'm also a fan of
      karate and earned my yellow belt before taking a break from practice.
      While I'm not actively training right now, I hope to pick it up again in
      the future.
    </p>

    <p class="text-lg my-4">
      In terms of my educational and professional background, I have an
      associate degree in engineering technology in instrumentation and control
      systems, and I'm currently on my last trimester of a bachelor's degree in
      computer engineering. My passion for technology and problem-solving led me
      to pursue this field, and I'm excited to see where this degree takes me.
      I'm always on the lookout for new opportunities to learn and grow in my
      field, whether it's through internships, workshops, or online courses.
    </p>

    <p class="text-lg my-4">
      My values and beliefs are an essential part of who I am. I believe in the
      importance of family and cherish the time I spend with my loved ones. I
      also have a strong faith in God, which guides my actions and decisions.
      One of the most important values to me is communication, which I believe
      is essential for building understanding and connection with others.
      Whether it's through listening, speaking, or writing, I always strive to
      communicate effectively and honestly with those around me.
    </p>

    <p class="text-lg my-4">
      Looking to the future, I have several goals that I'm working towards. One
      of my main goals is to obtain a master's degree in computer science or
      engineering, with a focus on either software engineering/development or
      cybersecurity. I'm also excited to start a family of my own someday and
      look forward to the joys and challenges that parenthood will bring.
    </p>

    <p class="text-lg my-4">
      Thank you for taking the time to get to know me a little better. I hope
      this expanded about me page has given you a deeper understanding of who I
      am and what I'm passionate about. If you have any questions or would like
      to connect, please don't hesitate to reach out.
    </p>
  </div>
</Layout>
