---
import { IoArrowForward } from 'react-icons/io5/index.js'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import CreatedWithSection from '../components/CreatedWithSection.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import MasterHead from '../components/MasterHead.astro'
import { HOMEPAGE_URL, SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <MasterHead />
    </main>
    <h1 class="font-mplus text-center">Welcome</h1>
    <Content>
      <section>
        <p class="mb-8 indent-4">
          Quick introduction I am a recent graduate computer engineer, I&apos;m
          also a PLC programmer. I&apos;m currently working at Medtronic as a
          technician.
          <br />
          <br />
          Here you&apos;ll be able to find some information about me, and also some
          of the projects I&apos;ve worked to learn more and to improve my skills
          as a developer.
          <a
            class="inline-flex items-center gap-1 ident-1 text-orange-500"
            href="/about"
            >Learn more about me <IoArrowForward className="inline" /></a
          >
        </p>
      </section>
      <CreatedWithSection />
    </Content>
  </Body>
  <Footer />
</html>
