---
import { HOMEPAGE_URL } from '../consts'

const today = new Date()
---

<footer class="text-zinc-500 p-4 text-center">
  &copy; {today.getFullYear()}<a href="/"> Lenier Ortiz</a>. All rights
  reserved.
  <br />
  This website is built based on the <a
    href="https://www.craftz.dog/"
    target="_blank">Takuya Matsuyama's website</a
  >
</footer>
